In [19]:
import pandas as pd

# Dataset A:  https://www.kaggle.com/datasets/gsimonx37/letterboxd
movies = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/movies.csv')
actors = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/actors.csv')
crew = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/crew.csv')
languages = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/languages.csv')
genres = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/genres.csv')
studios = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/studios.csv')
# themes = pd.read_csv('raw_data/themes.csv')
# releases = pd.read_csv('raw_data/releases.csv')
countries = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/countries.csv')

In [64]:
# Dataset C:  https://www.kaggle.com/datasets/freeth/letterboxd-film-ratings
films = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/Set C/films.csv', on_bad_lines='skip') # Skipping faulty lines that is some lines have more than the 4 values which are expected by the parser
ratings = pd.read_csv('/home/rositsa/code/aybik/movie_picker/raw_data/Set C/ratings.csv')

In [20]:
# Dropping the 'tagline' column from movies.csv
movies = movies.drop(columns='tagline', axis=1)

In [21]:
# Dropping the 'role' column and rows with NAN values from actors.csv
actors = actors.drop(columns='role', axis=1)
actors = actors.dropna()

In [22]:
# Selecting crew members with specific roles, which are thought to be more significant to compress the amount of data
crew = crew[crew['role'].isin(['Director', 'Producer', 'Writer', 'Cinematography', 'Composer'])]

In [23]:
# Filtering the type of languages to be either 'Language' or 'Primary language' and dropping 'Spoken language'
languages = languages[languages['type'].isin(['Language', 'Primary language'])].drop(columns='type')

In [24]:
# Creating dictionary for the crew, where keys are the roles and values are the names of people
new_crew = (
    crew.groupby('id')
    .apply(lambda x: x.groupby('role')['name'].apply(list).to_dict())
    .reset_index(name='crew_dict')
)

/tmp/ipykernel_403453/1873594092.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.groupby('role')['name'].apply(list).to_dict())

In [25]:
# Aggregating the genre types for each movie into a list
new_genres = (
    genres.groupby('id')['genre']
    .apply(list)  # Aggregates genres into a list
    .reset_index(name='genre_list')  # Converts to DataFrame and renames the column
)

In [26]:
# Aggregating the studios that worked on a single movie into a list
new_studios = (
    studios.groupby('id')['studio']
    .apply(list)  # Aggregates the studios into a list
    .reset_index(name='studio_list')  # Converts to DataFrame and renames the column
)

In [27]:
# Aggregating the actors for each movie in a list
new_actors = (
    actors.groupby('id')['name']
    .apply(list)  # Aggregates actors' names into a list
    .reset_index(name='actor_list')  # Converts to DataFrame and renames the column
)

In [29]:
# Merging all the dataframes created from the csv files from Dataset A:  https://www.kaggle.com/datasets/gsimonx37/letterboxd into one dataframe
data = movies.merge(new_genres, how='left', on='id').merge(new_actors, how='left', on='id').merge(languages, how='left', on='id').merge(new_studios, how='left', on='id').merge(new_crew, how='left', on='id')

In [ ]:
# Saving the new dataframe to a csv file
data.to_csv('/home/rositsa/code/aybik/movie_picker/raw_data/compiled_movies.csv', index=False)

In [77]:
data.name.value_counts()

name
Home                     143
Untitled                 118
Alone                    108
Mother                    98
Love                      76
                        ...
Almira                     1
Precog                     1
My Best Friend 'Ends'      1
Forebodings                1
A Pawn                     1
Name: count, Length: 795421, dtype: int64

In [65]:
films_new = films.drop(columns='poster_url')
films_new

,film_id,film_name,year
0,anthem-of-a-teenage-prophet,Anthem of a Teenage Prophet,2018.0
1,elf-buddys-musical-christmas,Elf: Buddy's Musical Christmas,2014.0
2,look-at-us-now-mother,"Look at Us Now, Mother!",2016.0
3,fate-grand-order-absolute-demonic-front-babylonia,Fate/Grand Order Absolute Demonic Front: Babyl...,2019.0
4,memory-2022,Memory,2022.0
...,...,...,...
355109,zep-a-world-in-twelve-volumes-vol-1-the-depths...,"Zēp: A World In Twelve Volumes, Vol 1-The Dept...",NaN
355110,zero-hour-2011,Zero Hour,2011.0
355111,zimmer-mit-tante,Zimmer mit Tante,2010.0
355112,zoe-2020,Zoe 2020,2018.0
355113,zuoz-schule-der-elite,"Zuoz, Schule der elite",NaN

In [74]:
films_new.film_name.dropna()

0                               Anthem of a Teenage Prophet
1                            Elf: Buddy's Musical Christmas
2                                   Look at Us Now, Mother!
3         Fate/Grand Order Absolute Demonic Front: Babyl...
4                                                    Memory
                                ...
355109    Zēp: A World In Twelve Volumes, Vol 1-The Dept...
355110                                            Zero Hour
355111                                     Zimmer mit Tante
355112                                             Zoe 2020
355113                               Zuoz, Schule der elite
Name: film_name, Length: 355113, dtype: object

In [75]:
films_new.tail(5)

,film_id,film_name,year
355109,zep-a-world-in-twelve-volumes-vol-1-the-depths...,"Zēp: A World In Twelve Volumes, Vol 1-The Dept...",NaN
355110,zero-hour-2011,Zero Hour,2011.0
355111,zimmer-mit-tante,Zimmer mit Tante,2010.0
355112,zoe-2020,Zoe 2020,2018.0
355113,zuoz-schule-der-elite,"Zuoz, Schule der elite",NaN

In [12]:
ratings.head()

  user_name               film_id  rating
0  kurstboy          spider-man-2     4.5
1  kurstboy   tetsuo-the-iron-man     4.0
2  kurstboy  bram-stokers-dracula     4.5
3  kurstboy           poison-2023     4.5
4  kurstboy  the-rat-catcher-2023     3.5

In [13]:
ratings.film_id.nunique()

355140

In [14]:
ratings.film_id.isnull().sum()

np.int64(8)